.indicator-bread-wrap
  .uk-container.uk-container-center
    #indicator_bread_view
      .uk-clearfix
        ul.uk-breadcrumb.uk-float-right
          li 您的位置：
          li
            a(href='#') 下載中心
.uk-grid
  .uk-width-3-5.uk-push-1-5
    .uk-panel.uk-panel-box
      h1.uk-panel-title(style='text-align:center') 下載中心
      p
        .uk-grid(data-uk-grid-margin='')
          .uk-width-medium-1-3.uk-text-center
            a.uk-thumbnail.uk-overlay-toggle(href='#{baseUrl}/uploads/澳門婦女現況報告2008.pdf', target='_blank')
              .uk-overlay
                img(src='#{baseUrl}/uploads/澳門婦女現況報告2008.jpg', style="height:300px")
                .uk-text-center.uk-overlay-caption 澳門婦女現況報告2008.pdf
          .uk-width-medium-1-3.uk-text-center
            a.uk-thumbnail.uk-overlay-toggle(href='#{baseUrl}/uploads/澳門婦女現況報告2010.pdf', target='_blank')
              .uk-overlay
                img(src='#{baseUrl}/uploads/澳門婦女現況報告2010.jpg', style="height:300px")
                .uk-text-center.uk-overlay-caption 澳門婦女現況報告2010.pdf
          .uk-width-medium-1-3.uk-text-center
            a.uk-thumbnail.uk-overlay-toggle(href='#{baseUrl}/uploads/澳門婦女現況報告2012.pdf', target='_blank')
              .uk-overlay
                img(src='#{baseUrl}/uploads/澳門婦女現況報告2012.jpg', style="height:300px")
                .uk-text-center.uk-overlay-caption 澳門婦女現況報告2012.pdf
